# Data Folders
/Raw-Data
/Processed-Data

# IPython NB Checkpoints
.ipynb_checkpoints/

# Distribution / packaging
*.egg
*.egg-info
.eggs

# Byte-compiled / optimized / DLL files
/__pycache__
*.py[cod]

# Unit test / coverage reports
.cache

notebooks/.ipynb_checkpoints/*.ipynb

.DS_Store

*.mat

*.m~
