# Data Folders
/Raw-Data
/Processed-Data

# Notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Packages
*.egg
*.egg-info
dist
build
.eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Byte-compiled / optimized / DLL files
/__pycache__
*.py[cod]
*.h5

# Unit test / coverage reports
.cache

notebooks/.ipynb_checkpoints/*.ipynb

# Mac folder files
.DS_Store

# Matlab files
*.mat
*.m~

# Ignore log files
*.log

# Unit test / coverage reports
.coverage
